<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="/css/bookdetails.css">
</head>
<body>
    {{>homepagenavbar}}
    <section id="bookcontainer">
        <section class="bookdetail">
           {{#each result}}
          <div class="left-pic">
                 <img src="/upload/{{upload}}" alt="here is an image of book">
          </div>
          <div class="right-details">
             <p id="bookname">{{bookname}}</p> 
            <ul>
                <li><span class="list-itemname">Author :</span> {{authorname}} </li>
                <li><span class="list-itemname">Sem : </span> {{semester}} </li>
                <li><span class="list-itemname">Condition : </span> {{condition}} </li>
                <li><span class="list-itemname">Market price :</span> {{market_price}} </li>
                <li><span class="list-itemname" id="proposedprice">Proposed price :</span> {{proposed_price}}</li>
                <li><span class="list-itemname">Seller : </span> {{name}} </li>
               
            </ul>
         </div>
          
    </section> 

     {{#if (isNight)}}
    <div class="payment">
        <p class="payment_msg">Payment confirmation</p>
        <div class="payment_section">
        <p>Received payment yet!?</p>
      
        <button type="submit move_left" class="btn-reg" id="yes">Yes</button>
        <button type="submit" class="btn-reg" id="no" >No</button>
        </div>
        
    </div>
{{else}}
    <p></p>
{{/if}} 

     {{!-- <div class="biddetails_box">
          <form action="">
            <label for="bid-amount"> <span class="list-itemname"> Enter your bid amoumt : </span> </label>
            <input type="int" name="bid-amount" id="bidamount">
             <button type="submit" id="submit" class="btn-reg">Submit</button>
          </form>
          <div class="maxbid_amount"><span class="list-itemname" id="max">Maxbided amount : ₹{{resultamount}}</span></div>

     </div> --}}
 {{/each}}
    </section>
  
    <script type="text/javascript"src="/js/confirmpayment.js"></script>
</body>
</html>